{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}


{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129877673-1" nonce="{{request.csp_nonce}}"></script>
<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129877673-1');
</script>
{% endblock %}

{% block content %}
<div class="login_page_new_ui">
  <div class="left">
    <div class="sbulogo">
      <img src="{{ settings.HOSTNAME }}{% static 'images/sbu-logo.svg' %}" height="93"  alt="SBULogo"/>
    </div>
    
    <h2> به لیبل استودیو خوش آمدید</h2>

    <h3>یک محیط برچسب‌زنی مناسب برای جمع‌آوری انواع دادگان</h3>

    <h5>توسعه یافته برای آزمایشگاه پردازش زبان طبیعی دانشگاه شهید بهشتی</h5>


    {% comment %} {% include 'users/new-ui/user_tips.html' %} {% endcomment %}
    <div class="copyright">
      <div class="logo_humansignal">
        برپایه‌ی
        <img src="{{ settings.HOSTNAME }}{% static 'images/label_studio_logo.svg' %}" height="22"  alt="Human Signal Logo"/>
      </div>
    </div>
    
  </div>
  <div class="right">
    <div class="toggle">
        {% if not settings.DISABLE_SIGNUP_WITHOUT_LINK %}
        <a href="{{ settings.HOSTNAME }}/user/signup" class="{% if 'signup' in request.path %}active{% endif %}">Sign up</a>
        <a href="{{ settings.HOSTNAME }}/user/login" class="{% if 'login' in request.path %}active{% endif %}">Log in</a>
        {% endif %}
    </div>
    {% block user_content %}
  </div>
</div>

  {% endblock %}
{% endblock %}
